body {
    text-align: center;
}

.F{
    color: #ff8800;
    position: relative;;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
}
.F1{
    color: #ff8800;
    text-decoration: line-through;
}

.F2{
    color: #000000;
    background-color: #fbff00;
}
h1{
    color: #000000;
    font-size: 15px;
    background-color:#fbff00;
    border:  #fbff00;
    text-align: left;
    background-size: cover;
    background-position: center;

    
}
h2{
    font-size: 15px;
    text-align: left;
    font-family: 'Courier New',Verdana, sans-serif;
}
h3{
    font-size: 15px;
    text-align: left;
    font-family: 'Courier New',Verdana, sans-serif;

}
footer{
    font-size: 15px;
    text-align: left;;
   font-weight: bold;
   border: 2px solid rgb(0, 0, 0);
   background-color: rgb(100, 196, 199);
}
h4{
    font-size: 15px;
    text-align: left;
}
.F3{
    font-family: 'Courier New',Verdana, sans-serif;
    font-size: 13px;
    

}
.F4{
    font-family: 'Courier New',Verdana, sans-serif;
    font-size: 15px;
    color: #eeeef1;
    background-color: #ffd000c0;
    border: 10px solid #ffd000c0;

    
    
}
