thead {
    border: 2px solid rgb(12, 111, 224);
    border-radius: 10px;
}
tr {
    border: 2px solid rgb(12, 111, 224);
    border-radius: 10px;
}

.col1 {
    border-top: 10px   ; 
    border: 2px solid rgb(12, 111, 224);
    border-bottom: px;
}       
.col2 {
    border: 2px solid rgb(12, 111, 224);
    
}
.col3 {
    width: 20%;
    border: 2px solid rgb(12, 111, 224);
}
.col4 {
    border: 2px solid rgb(12, 111, 224);
    
}
BODY {
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
.tabla1 {
    border: 2px solid rgb(12, 111, 224);
    width: 100%;
    height: 150px;
    
}
header {
   
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
tr {
    text-align: center;
}

.G {    
     border-collapse: collapse;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: grey;
    border: 3px solid rgba(255, 251, 0, 0.589);
}

.V{
    border-collapse: collapse;
    background-color: rgb(55, 141, 15);
    border: 3px solid rgba(255, 251, 0, 0.589);

}

.tabla2 {
    width: 100%;
    height: 100px;
    table-layout: fixed;
}
